I do very much plan on supporting LDAPS.
Sadly I currently don't have the time to develop on this crate too much,
hopefully that will change the next few weeks.

LDAPS uses STARTTLS however (Refer to RFC 4511 Section 4.14 - StartTLS
Operation), so it shouldn't be too complicated to add.

On Fri, Mar 11, 2016 at 10:23:31AM -0800, kardeiz wrote:

> Do you plan on supporting LDAP over SSL in this crate?
> 
> I tried swapping out the `TcpStream` for `SslStream<TcpStream>` in the connection setup, but am getting `Error: Unexpected end of file` whenever I try to do a simple bind. I tried digging around some, but the whole BER/Tag system is a little daunting...
> 
> ---
> 
> Reply to this email directly or view it on GitHub:
> https://github.com/Dean4Devil/rust-ldap/issues/5


LDAPS support would be fantastic. If you have any other materials, I'd be willing to help out, albeit I'm only learning Rust.
